{% extends "AppValfosca/base.html" %}
{% load static %}

{% block principal %}

<main role="main" class="inner cover">
    <!-- <img src="{% static 'AppValfosca/assets/bg-masthead.jpg' %}" height="598" width="398"> -->
    <br>
    <center><img src="{% static 'AppValfosca/assets/img/buscar.jpg' %}" alt="centered image" height="769" width="1200" style="border-radius: 2em;"> </center>
    <!-- <center><img src="{% static 'AppValfosca/assets/bg-masthead.jpg' %}" alt="centered image" height="598" width="398"> </center> -->
    <br>
    <center><h1 class="cover-heading">Formulario de Busqueda</h1></center>

    <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p> -->

    <br>
    <form action="{% url 'buscar-datos' %}" method="get">
        <p> Nombre se Empresa o C.P: <br>
        <input type="text" style="border-radius: .5em" placeholder="Buscar" name="criterio">
        <input type="submit" value = "Buscar">
        <input type="reset" value = "Borrar campo">
        
    </form>

    <br>
    {% if criterio_valid != "" %}
    <ul>
        {% for mayorista in mayoristas %}
    
            <li> {{mayorista.nombre_de_empresa}} - {{mayorista.cuit}} - {{mayorista.direccion}} </li>
            <!-- <li> print({{mayorista}}) - </li> -->
    
        {% endfor %}
    </ul>

    <ul>
        {% for c in cp %}
    
            <li> {{c.nombre_de_empresa}} - {{c.cuit}} - {{c.direccion}} </li>
            <!-- <li> print({{mayorista}}) - </li> -->
    
        {% endfor %}
    </ul>
    {% endif%}


    <div class="inner cover-container">
        <div class="flexbox-container" >
            

            <div style="border-radius: 1em; background-color: rgb(87, 89, 97); text-align: right; padding-right: 5em; padding-top: 2.5em; padding-bottom: 2.5em;">
                <br>
                <form action="{% url 'buscar-datos' %}" method="get">
                    <p> Nombre se Empresa o C.P: <br>
                    <input type="text" style="border-radius: .5em" placeholder="Buscar" name="criterio">
                    <br>
                    <br>
                    <input type="reset" value = "Borrar campo">
                    <input type="submit" value = "Buscar">
                    
                    <br>

                </form>
                <br>
            </div>
            
            <div style="border-radius: 1em; background-color: rgb(87, 89, 97); padding-left: 3em; padding-top: 2em; ">

                <ul>
                    <h4 style="text-align: left;">Datos de la busqueda realiazada</h4>

                    <br>

                    {% if criterio_valid != "" %}
                    <ul>
                        {% for mayorista in mayoristas %}
                    
                            <li> {{mayorista.nombre_de_empresa}} - {{mayorista.cuit}} - {{mayorista.direccion}} </li>
                            <!-- <li> print({{mayorista}}) - </li> -->
                    
                        {% endfor %}
                    </ul>
                
                    <ul>
                        {% for c in cp %}
                    
                            <li> {{c.nombre_de_empresa}} - {{c.cuit}} - {{c.direccion}} </li>
                            <!-- <li> print({{mayorista}}) - </li> -->
                    
                        {% endfor %}
                    </ul>
                    {% endif%}

                </ul>

            </div>
            <!-- "border-radius: 1em; background-color: rgb(43, 51, 87);"> -->
            

        </div>
    </div>

</main>

{% endblock %}