{% extends "AppValfosca/base.html" %}
{% load static %}

{% block principal %}

<main role="main" class="inner cover">

    <br>
    <center><img src="{% static 'AppValfosca/assets/img/cancelacion.jpg' %}" alt="centered image" height="769" width="1200" style="border-radius: 2em;"> </center>

    <br>
    <center><h1 class="cover-heading">Formulario de Cancelaciones de Compras</h1></center>


    <br>
    <br>

    <div class="inner cover-container">
        <div class="flexbox-container" >
            

            <div style="border-radius: 1em; background-color: rgb(87, 89, 97); text-align: right; padding-right: 5em; padding-top: 2.5em; padding-bottom: 2.5em;">
                <br>
                <form action="{% url 'registro_cancelaciones' %}" method="post">
                    
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="reset" value = "Borrar campos">
                    <input type="submit" value = "Enviar">
                    
                </form>
                <br>
            </div>
            
            <div style="border-radius: 1em; background-color: rgb(87, 89, 97); padding-left: 3em; padding-top: 2em; padding-right: 3em;">

                <ul>
                    <h4 style="text-align: center;">Lista de Cancelaciones</h4>
                    <br>

                    {% for cancelacion in cancelaciones %}
                    
                    <li> Nro orden: {{cancelacion.nro_de_orden_de_compra}} <br>- Fecha Factura: {{cancelacion.fecha_de_compra_factura}} <br>-  Sucursal: {{cancelacion.sucursal_donde_realizo_la_compra}} <br>- Cliente: {{cancelacion.nombre_y_apellido_del_comprador}} </li>

                    
                    {% endfor %}

                </ul>

            </div>
            

        </div>
    </div>


</main>

{% endblock %}