{% extends "AppValfosca/base.html" %}
{% load static %}

{% block principal %}

<main role="main" class="inner cover">
    <!-- <img src="{% static 'AppValfosca/assets/bg-masthead.jpg' %}" height="598" width="398"> -->
    <br>
    <center><img src="{% static 'AppValfosca/assets/img/cancelacion.jpg' %}" alt="centered image" height="769" width="1200"> </center>
    <!-- <center><img src="{% static 'AppValfosca/assets/bg-masthead.jpg' %}" alt="centered image" height="598" width="398"> </center> -->
    <br>
    <h1 class="cover-heading">Formulario de Cancelaciones de Compras</h1>

    <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p> -->
</main>

{% endblock %}