<html>

{% load static %}

  <head>
    <title>Soy tan moderno y fácil de hacer...</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'AppValfosca/css/flex.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="flexbox-container" >
      <div>Columna 1</div>
      <div>Columna 2gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
      <div>Columna 3</div>
      <div>Columna 3gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</div>
      <div>Columna 3</div>
    </div>
  </body>
</html>