{% extends "AppValfosca/base.html" %}
{% load static %}

{% block principal %}

<main role="main" class="inner cover">
    <!-- <img src="{% static 'AppValfosca/assets/bg-masthead.jpg' %}" height="598" width="398"> -->
    <br>
    <center><img src="{% static 'AppValfosca/assets/img/inicio.jpg' %}" alt="centered image" height="769" width="1200" style="border-radius: 2em;"> </center>
    <!-- <center><img src="{% static 'AppValfosca/assets/bg-masthead.jpg' %}" alt="centered image" height="598" width="398"> </center> -->
    <br>
    <h1 class="cover-heading">Pre Entrega 3 - Python</h1>
    <!-- <P>Alumno: Pablo Valfosca</P>
    <P>Comision: 48405</P>
    <P>Dias de cursado: Martes y Jueves 21.30 a 23.30</P> -->
    <br>
    <p class="lead">Alumno: Pablo Valfosca</p>
    <p class="lead">Comision: 48405</p>
    <p class="lead">Dias de cursado: Martes y Jueves 21.30 a 23.30</p>
    <!-- <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p> -->
</main>

{% endblock %}