{% extends "AppValfosca/base.html" %}
{% load static %}

{% block principal %}

<main role="main" class="inner cover">

    <br>
    <center><img src="{% static 'AppValfosca/assets/img/inicio.jpg' %}" alt="centered image" height="769" width="1200" style="border-radius: 2em;"> </center>

    <br>
    <h1 class="cover-heading">Pre Entrega 3 - Python</h1>

    <br>
    <p class="lead">Alumno: Pablo Valfosca</p>
    <p class="lead">Comision: 48405</p>
    <p class="lead">Dias de cursado: Martes y Jueves 21.30 a 23.30</p>

</main>

{% endblock %}