<!doctype html>
<html lang="en">

{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Tercera Pre Entrega</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'AppValfosca/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'AppValfosca/css/cover.css' %}" rel="stylesheet">
  </head>

  <body class="text-left" >

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h5 class="masthead-brand"></h5>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href= "{% url 'index' %}">INICIO</a>
            <a class="nav-link active" href="#">Clientes Mayoristas</a>
            <a class="nav-link active" href="#">Clientes Minoristas</a>
            <a class="nav-link active" href="#">Pedidos</a>
            <!-- <a class="nav-link active" href="#">Buscar</a> -->

            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form> -->
            <a class="nav-link" href="#"><form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form></a>

          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <!-- <img src="{% static 'AppValfosca/assets/bg-masthead.jpg' %}" height="598" width="398"> -->
        <center><img src="{% static 'AppValfosca/assets/inicio.jpg' %}" alt="centered image" height="769" width="1200"> </center>
        <!-- <center><img src="{% static 'AppValfosca/assets/bg-masthead.jpg' %}" alt="centered image" height="598" width="398"> </center> -->
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

      
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <center><p>Coderhouse - <a href="https://coderhouse.com//online/python">Curso Python</a></p></center>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'AppValfosca/js/popper.min.js' %}"></script>
    <script src="{% static 'AppValfosca/js/bootstrap.min.js' %}"></script>
  </body>
</html>


<!-- <img src="bg_masthead.jpg" alt="Ejemplo de Imagen"> -->
